body{
    background-color: #136c9f;
    color: rgb(14, 13, 13);
}
.flex-container {
    
    display: flex;
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    width: 80%;
   
  }
  
  .flex-container > div {
    color: black;
    background-color: rgb(112, 11, 80);
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    width: 80%;
    
  }
hr{
    border-style: double dashed;
    width :80%;
    border-width: 1em;
    border-color: rgb(79, 30, 30) ;
}
img{
float: inline-end;
width: 70%;    
}
.para1{
    float:clear;
    float :right;
    width :80%;
    margin-right: 10%;
    letter-spacing: 2px;
    line-height: 1.6;
}
.para2{
    float:clear;
    float :none;
    width :80%;
    margin-left: 8%;
    letter-spacing: 2px;
    line-height: 1.6;
    background-color:rgb(81, 199, 52);
    padding: 20px;
    padding-left: 30px;
}
.image{
    width: 500px;
    height: 350px;
    float: none;
    margin-left: 23%;

}

.image2{
    float: left;   
    width: 50%;
}
.image3{
    float: left;   
   width: 50%;
    height:100px;
    padding: 20px;;
}